@import "../../../src/styles/app";

.custom-select{
   background-color: #232A52 !important;
   height: 48px;
   color: #757575;
   width: 89%;
   border: 1px solid #8289bc !important;
}

input.custom-select{
   background-color: #232A52 !important;
}
.modal_image{
   border: 1px solid transparent;
   border-radius: 10px;
}